body {
  background-color: #feffde;
  color: #52734d;
  font-family: "Libre Baskerville", Baskerville, serif;
}

button {
  background-color: #52734d;
  border: solid;
  border-color: #52734d;
  border-radius: 25px;
  color: #feffde;
  font-family: "Libre Baskerville", Baskerville, serif;
}

button:hover {
  background-color: #feffde;
  border: solid;
  border-color: #52734d;
  color: #52734d;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#frogAndForecast {
  align-content: flex-start;
  display: flex;
  flex-direction: row;
}

.header {
  color: #52734d;
}

.weekday {
  margin: 0 30px 0 10px;
}

.weekdayContainer {
  align-content: flex-start;
  display: flex;
  flex-direction: row;
}
